@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Dancing+Script:wght@700&family=Kumbh+Sans&family=Lexend&family=Lexend+Deca:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Dancing+Script:wght@700&family=Kumbh+Sans&family=Lexend&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white : hsl(0, 0%, 100%, 0.75);
--Very-light-gray : hsl(0, 0%, 95%);
}




header{
    font-family: 'Big Shoulders Display', cursive;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    
}

.header-left{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
   
    background-color: var(--Bright-orange);
    width: 30.25%;
    height: 30rem;
}

.header-center{
    background-color:darkcyan;
    width: 30.25%;
    height: 30rem;
}

.header-right{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(3, 73, 73);
    width: 30.25%;
    height: 30rem ;
}


.header-top img{
    margin-left: 3rem;
    margin-top: 3rem;

}


 h1{
    font-size: 300%;
    color: rgba(255, 255, 255, 0.925);
    margin-top: 2rem;
    margin-left: 3.3rem;

  }



  .header-center-top img{
    margin-left: 3rem;
    margin-top: 3rem;
  }



  .header-right-top img{
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .paragraphe-header-left{
    margin-left: 3.5rem;
    margin-top: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    width: 70%;
    height: 10rem;
    letter-spacing: 1px;
  }


.submit-header-left input{
    background: white;
    color: orange;
    border-radius: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: large;
    height: 4rem;
    width: 150px;
    text-shadow: none;
    margin-right: 4rem;
    margin-left: 3rem;
  }


  .paragraphe-header-center{
    margin-left: 3.5rem;
    margin-top: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    width: 70%;
    height: 10rem;
    letter-spacing: 1px;
   

  }

  .submit-header-center input{
    background: white;
    color: orange;
    border-radius: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: large;
    height: 4rem;
    width: 150px;
    text-shadow: none;
    margin-right: 4rem;
    margin-left: 3rem;

  }


  .paragraphe-header-right{
    margin-left: 3.5rem;
    margin-top: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    color: rgba(255, 255, 255, 0.664);
    width: 70%;
    height: 10rem;
    letter-spacing: 1px;

  }


  .submit-header-right input{
    background: white;
    color: orange;
    border-radius: 2rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: large;
    height: 4rem;
    width: 150px;
    text-shadow: none;
    margin-right: 4rem;
    margin-left: 3rem;

  }



